<div class="form-cont">
  <form action="/new" method="post">
    <h2>Message Details</h2>
    <input type="text" name="text" placeholder="Enter the message text" required/>
    <input type="text" name="user" placeholder="Enter the user Name" required/>
    <input type="submit" />
  </form>
</div>
